{% extends "djauction/base.html" %}
{% block content %}
    <h3>{{ auction_user }}</h3>

    {% if winning_users %}
        <h3>Users Who Won Items From {{ auction_user }}</h3>
        {% for user in winning_users %}
            <p>
            <a href="{% url 'djauction.views.view_user' user.id auction.id %}">{{ user }}</a><br>
            {{user.phone}} <a href="mailto:{{user.email}}">{{user.email}}</a>
            </p>
        {% endfor %}
    {% endif %}

    {% if winning_bids %}
        <h3>Items Won From {{ auction_user }}</h3>
        {% for bid in winning_bids %}
            <li><a href={% url 'djauction.views.view_item' bid.item.id %}>{{ bid.item }}</a></li>
        {% endfor %}
    {% endif %}

    {% if won_users %}
        <h3>Users Who {{ auction_user }} Won Items From</h3>
        {% for user in won_users %}
            <p>
            <a href="{% url 'djauction.views.view_user' user.id auction.id %}">{{ user }}</a><br>
            {{user.phone}} <a href="mailto:{{user.email}}">{{user.email}}</a>
            </p>
        {% endfor %}
    {% endif %}

    {% if user_bids %}
        <h3>Items Won</h3>
        <table>
        {% for bid in user_bids %}
            <tr>
            <td><a href="{% url 'djauction.views.view_item' bid.item.id %}">{{bid.item}}</a></td>
            <td>{{bid.ammount}}</td>
        {% endfor %}
        </table>
        Total Due: {{ owed|default:"0" }}<br>
        <h3>Update Payment Info</h3>
        <div style="width:500px;border:6px outset blue;">
        <form action="." method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" />
        </form>
        </div>

    {% endif %}

    {% if user.email %}
    <br>
    <h3>Email Reciept</h3>
    <div style="border:6px outset blue;">
    TO: {{ user.email }} <br>
    SUBJECT: Auction Reciept from {{ auction.date }} <br>
    <br>
    {% include "djauction/emailtemplate.html" %}
    </div>
    <!--
    <form method="post" action="{% url 'djauction.views.send_email' %}">{% csrf_token %}
        <input type="submit" value="Send Email Receipt">
    </form>
    -->
    {% endif %}

    <p><a href="{% url 'djauction.views.view_user' auction_user.id auction.id %}">Back To User Info</a></p>
{% endblock %}
