{% extends "djauction/base.html" %}
{% block content %}
    <h3>Bidder Payment View</h3>
    {% if p_data %}
    <table border="1">
    <tr><th>Paddle</th><th>Bidder</th><th>Paid?</th></tr>

    <!-- Naming tuple values as they are read off the list -->
    {% for paddle,p_id,name,payment,bids in p_data %}
    <tr>
    <td>{{ paddle }}</td>
    <td><a href="{% url 'djauction.views.view_user' p_id auction.id %}">{{ name }}</a></td>

    <!-- If the user has at least 1 bid but hasn't paid, color the cell red.
         If the user has at least 1 bid but has paid, color the cell green.
         If the user has no bids, leave the cell the default color -->
    {% if bids > 0 %}
        {% if payment == 'none' %}
            <td bgcolor="red">
        {% else %}
            <td bgcolor="green">
        {% endif %}
    {% else %}
        <td>
    {% endif %}
    {{ payment }}</td>
    </tr>
    {% endfor %}
    {% endif %}
{% endblock %}
