{% extends "djauction/base.html" %}
{% block content %}

    <p><a href="{% url 'djauction.views.view_auction' auction.id %}">Back To Auction Manager</a></p>

    <table width="100%">
        <tr>
            <td align="left">
            {% if prev_item %}
                <a href="{% url 'djauction.views.view_item' prev_item.id %}">Previous ({{ prev_item }})</a>
            {% endif %}
            </td>
            <td align="right">
            {% if next_item %}
                <a href="{% url 'djauction.views.view_item' next_item.id %}">Next ({{ next_item }})</a>
            {% endif %}
            </td>
        </tr>
    </table>
    <br>

    <h3> {{ item }} </h3>
    Donated by <a href="{% url 'djauction.views.view_user' donor.id auction.id %}">{{donor}}</a><br>
    {% if item.image %}
        <p><img src="{{ MEDIA_URL }}/{{item.image}}"/></p>
    {% endif %}
    {% if item.time_and_location %}
    Description: {{item.description}}<br>
    {% endif %}
    {% if item.time_and_location %}
    Time and Location: {{item.time_and_location}}<br>
    {% endif %}
    {% if item.conditions %}
    Conditions: {{item.conditions}}<br>
    {% endif %}

    {% if item.starting_bid %}
    <h4>Starting Bid: ${{item.starting_bid}}</h4>
    {% else %}
    <h4>(No starting bid provided)</h4>
    {% endif %}

    {% if bid_del_form %}
    <h3>Current Bids (max bids = {{item.valid_winners}})</h3>
        <form action="{% url 'djauction.views.view_item' item.id %}" method="post">{% csrf_token %}
        <table width="100%">
            <tr align="left"><th>Amount, by Paddle #: Bidder</th></tr>
            <tr>
            {% for field in bid_del_form %}
                <td>{{field}}</td>
            {% endfor %}
            </tr>
            <tr><td><input type="submit" value="Delete" name="del_bids"/></td></tr>
        </table>
        </form>
    {% endif %}

    {% if bid_add_form %}
        {% if bid_del_form %}
    <h3>Enter Remaining Bids (up to max total of {{item.valid_winners}} bids)</h3>
        {% else %}
    <h3>Enter New Bids (up to max of {{item.valid_winners}} bids)</h3>
        {% endif %}
        <table>
        <form action="{% url 'djauction.views.view_item' item.id %}" method="post">{% csrf_token %}
            {% for field in bid_add_form %}
            {% cycle 'field_left' 'field_right' as curfield silent %}
            {% if curfield == "field_left" %}
            <tr><td>{{field}}</td>
            {% else %}
            &nbsp;&nbsp;<td>${{field}}</td></tr>
            {% endif %}
            {% endfor %}
            <tr><td><input type="submit" value="Submit Bids" name="add_bids"/></td></tr>
        </form>
        </table>
    {% endif %}

    <h3>Add Bid Manually (overrides max bid limit)</h3>
    <table>
        <form action="{% url 'djauction.views.view_item' item.id %}" method="post">{% csrf_token %}
            <tr>
                <td>{{manual_bid_form.bidder}}</td>&nbsp;&nbsp;<td>${{manual_bid_form.ammount}}</td>
            </tr>
            <tr><td><input type="submit" value="Add Bid" name="manual_add_bid"></td></tr>
        </form>
    </table>
    <br>

    <table width="100%">
        <tr>
            <td align="left">
            {% if prev_item %}
                <a href="{% url 'djauction.views.view_item' prev_item.id %}">Previous ({{ prev_item }})</a>
            {% endif %}
            </td>
            <td align="right">
            {% if next_item %}
                <a href="{% url 'djauction.views.view_item' next_item.id %}">Next ({{ next_item }})</a>
            {% endif %}
            </td>
        </tr>
    </table>

    <p><a href="{% url 'djauction.views.view_auction' auction.id %}">Back To Auction Manager</a></p>

{% endblock %}
