body {
    background:#ffffff;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#wrapper {
    background:#d6eaff;
    width:100%;
    min-height:800px;
    margin:auto;
}

#left-menu {
    background:#8abae6;
    width:200px;
    min-height:740px;
    float:left;
}

#content {
    overflow:auto;
}
